.footer-div {
  text-align: center;
  padding: 20px 0;
  font-size: 14px;
  background-color: transparent;

  .footer-text {
    color: #6c757d;
    margin: 0;
    font-weight: 400;
  }

  .dark-mode.footer-text {
    color: #ccc;
  }
}
